#### Titanic

In [18]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import classification_report

In [3]:
#1,加载数据
titan = pd.read_csv("http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.txt")
titan.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [22]:
# titan.describe

#2数据基本处理
#2.1选择特征值和目标值
x = titan[['pclass','age','sex']]
y= titan['survived']
#2.2缺失值处理,用均值填充
x['age'].fillna(x['age'].mean(),inplace=True)
# print(np.any(x.isnull())) #检测是否处理完毕

#2.3数据分割
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.3,random_state = 8)

#3特征工程(特征提取,字典特征提取)
# x_train.to_dict(orient='records')#把数据转换为字典格式
#创建字典特征提取器
transfer = DictVectorizer(sparse=False)
#字典特征提取
x_train =transfer.fit_transform(x_train.to_dict(orient='records'))
x_test =transfer.fit_transform(x_test.to_dict(orient='records'))
# print(x_test)
# print(transfer.get_feature_names())

#4机器学习,模型训练
estimator = DecisionTreeClassifier()
estimator.fit(x_train,y_train)


#5模型评估
y_pred = estimator.predict(x_test)
# print(y_pred)

#获取准确率
score =estimator.score(x_test,y_test)
print('准确率:',score)

False
准确率: 0.7918781725888325

c:\users\struggle6\appdata\local\programs\python\python37\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [21]:
#精确率precision,召回率recall
rs = classification_report(y_true =y_test,y_pred=y_pred)
print(rs)

              precision    recall  f1-score   support

           0       0.80      0.90      0.85       255
           1       0.77      0.59      0.67       139

   micro avg       0.79      0.79      0.79       394
   macro avg       0.78      0.75      0.76       394
weighted avg       0.79      0.79      0.78       394

In [25]:
export_graphviz(estimator, out_file="./tree.dot", feature_names=['age', 'pclass=1st', 'pclass=2nd', 'pclass=3rd', '女性', '男性'])