In [2]:
import pandas as pd
import numpy as np

# 创建DataFrame, 添加行索引和列索引

In [9]:
# 1. 生成10只股票5天的涨跌幅(符合标准正态分布的)
stock_change = np.random.normal(0, 1, (10, 5))
# stock_change
# 生成行索引
index = ['股票{}'.format(i) for i in range(stock_change.shape[0])]
# 生成列索引
date = pd.date_range(start='2019-08-01', periods=stock_change.shape[1], freq='B')
# date
# index
# 2. 使用数据创键DataFrame
df = pd.DataFrame(stock_change, index=index, columns=date)
df

     2019-08-01  2019-08-02  2019-08-05  2019-08-06  2019-08-07
股票0    0.582559    2.242857   -0.658943    0.874119   -0.832245
股票1   -1.342501   -0.436105   -0.810359   -0.319410    0.182380
股票2    0.647812    0.725662   -0.632794   -0.554585    0.992424
股票3   -0.413694   -1.024176    0.465675   -0.485614    0.638937
股票4   -0.486035    3.511450   -0.884686   -0.101618   -0.396877
股票5    0.287437    0.240086    0.849756    1.473140    0.251936
股票6    0.545136   -0.474349    0.080948    1.630369    1.770921
股票7    0.874320   -0.635412    0.368132    1.679003   -1.527700
股票8    1.730762   -1.601070    0.950296   -0.311203    0.075283
股票9   -0.192693   -1.024737    0.557583    0.225073    0.222499

In [10]:
# 行索引
df.index

Index(['股票0', '股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9'], dtype='object')

In [11]:
# 列索引
df.columns

DatetimeIndex(['2019-08-01', '2019-08-02', '2019-08-05', '2019-08-06',
               '2019-08-07'],
              dtype='datetime64[ns]', freq='B')

In [12]:
# 值(数据)
df.values

array([[ 0.58255927,  2.2428566 , -0.65894286,  0.8741192 , -0.83224476],
       [-1.34250067, -0.43610549, -0.8103592 , -0.31940961,  0.18238045],
       [ 0.64781198,  0.72566207, -0.63279361, -0.55458484,  0.99242395],
       [-0.41369363, -1.02417562,  0.46567473, -0.48561367,  0.6389369 ],
       [-0.48603505,  3.51145045, -0.88468566, -0.10161814, -0.39687666],
       [ 0.28743687,  0.24008635,  0.84975576,  1.47313952,  0.25193573],
       [ 0.54513626, -0.47434867,  0.08094818,  1.63036916,  1.77092142],
       [ 0.87431972, -0.63541179,  0.36813247,  1.6790033 , -1.52770021],
       [ 1.73076226, -1.60106993,  0.95029612, -0.31120284,  0.07528309],
       [-0.19269271, -1.02473664,  0.55758348,  0.22507302,  0.22249909]])

In [13]:
# 转置: 行列互换
df.T

,股票0,股票1,股票2,股票3,股票4,股票5,股票6,股票7,股票8,股票9
2019-08-01,0.582559,-1.342501,0.647812,-0.413694,-0.486035,0.287437,0.545136,0.874320,1.730762,-0.192693
2019-08-02,2.242857,-0.436105,0.725662,-1.024176,3.511450,0.240086,-0.474349,-0.635412,-1.601070,-1.024737
2019-08-05,-0.658943,-0.810359,-0.632794,0.465675,-0.884686,0.849756,0.080948,0.368132,0.950296,0.557583
2019-08-06,0.874119,-0.319410,-0.554585,-0.485614,-0.101618,1.473140,1.630369,1.679003,-0.311203,0.225073
2019-08-07,-0.832245,0.182380,0.992424,0.638937,-0.396877,0.251936,1.770921,-1.527700,0.075283,0.222499

In [17]:
# 获取前几条数据, 默认5
df.head(2)

     2019-08-01  2019-08-02  2019-08-05  2019-08-06  2019-08-07
股票0    0.582559    2.242857   -0.658943    0.874119   -0.832245
股票1   -1.342501   -0.436105   -0.810359   -0.319410    0.182380

In [20]:
# 获取后几条数据, 默认5
df.tail()

     2019-08-01  2019-08-02  2019-08-05  2019-08-06  2019-08-07
股票5    0.287437    0.240086    0.849756    1.473140    0.251936
股票6    0.545136   -0.474349    0.080948    1.630369    1.770921
股票7    0.874320   -0.635412    0.368132    1.679003   -1.527700
股票8    1.730762   -1.601070    0.950296   -0.311203    0.075283
股票9   -0.192693   -1.024737    0.557583    0.225073    0.222499

# 操作索引

## 设置索引

In [22]:
index = ['股票_{}'.format(i) for i in range(df.shape[0])]
# index
df.index = index
df

      2019-08-01  2019-08-02  2019-08-05  2019-08-06  2019-08-07
股票_0    0.582559    2.242857   -0.658943    0.874119   -0.832245
股票_1   -1.342501   -0.436105   -0.810359   -0.319410    0.182380
股票_2    0.647812    0.725662   -0.632794   -0.554585    0.992424
股票_3   -0.413694   -1.024176    0.465675   -0.485614    0.638937
股票_4   -0.486035    3.511450   -0.884686   -0.101618   -0.396877
股票_5    0.287437    0.240086    0.849756    1.473140    0.251936
股票_6    0.545136   -0.474349    0.080948    1.630369    1.770921
股票_7    0.874320   -0.635412    0.368132    1.679003   -1.527700
股票_8    1.730762   -1.601070    0.950296   -0.311203    0.075283
股票_9   -0.192693   -1.024737    0.557583    0.225073    0.222499

In [23]:
# df.index[3] = '股票_呵呵呵'
# 注意: 索引只能整体修改, 不能只修改一部分.

TypeError: Index does not support mutable operations

## 索引重置

In [24]:
# 默认会保留原来索引列
df.reset_index()

,index,2019-08-01 00:00:00,2019-08-02 00:00:00,2019-08-05 00:00:00,2019-08-06 00:00:00,2019-08-07 00:00:00
0,股票_0,0.582559,2.242857,-0.658943,0.874119,-0.832245
1,股票_1,-1.342501,-0.436105,-0.810359,-0.319410,0.182380
2,股票_2,0.647812,0.725662,-0.632794,-0.554585,0.992424
3,股票_3,-0.413694,-1.024176,0.465675,-0.485614,0.638937
4,股票_4,-0.486035,3.511450,-0.884686,-0.101618,-0.396877
5,股票_5,0.287437,0.240086,0.849756,1.473140,0.251936
6,股票_6,0.545136,-0.474349,0.080948,1.630369,1.770921
7,股票_7,0.874320,-0.635412,0.368132,1.679003,-1.527700
8,股票_8,1.730762,-1.601070,0.950296,-0.311203,0.075283
9,股票_9,-0.192693,-1.024737,0.557583,0.225073,0.222499

In [25]:
df.reset_index(drop=True)

   2019-08-01  2019-08-02  2019-08-05  2019-08-06  2019-08-07
0    0.582559    2.242857   -0.658943    0.874119   -0.832245
1   -1.342501   -0.436105   -0.810359   -0.319410    0.182380
2    0.647812    0.725662   -0.632794   -0.554585    0.992424
3   -0.413694   -1.024176    0.465675   -0.485614    0.638937
4   -0.486035    3.511450   -0.884686   -0.101618   -0.396877
5    0.287437    0.240086    0.849756    1.473140    0.251936
6    0.545136   -0.474349    0.080948    1.630369    1.770921
7    0.874320   -0.635412    0.368132    1.679003   -1.527700
8    1.730762   -1.601070    0.950296   -0.311203    0.075283
9   -0.192693   -1.024737    0.557583    0.225073    0.222499

In [27]:
df

      2019-08-01  2019-08-02  2019-08-05  2019-08-06  2019-08-07
股票_0    0.582559    2.242857   -0.658943    0.874119   -0.832245
股票_1   -1.342501   -0.436105   -0.810359   -0.319410    0.182380
股票_2    0.647812    0.725662   -0.632794   -0.554585    0.992424
股票_3   -0.413694   -1.024176    0.465675   -0.485614    0.638937
股票_4   -0.486035    3.511450   -0.884686   -0.101618   -0.396877
股票_5    0.287437    0.240086    0.849756    1.473140    0.251936
股票_6    0.545136   -0.474349    0.080948    1.630369    1.770921
股票_7    0.874320   -0.635412    0.368132    1.679003   -1.527700
股票_8    1.730762   -1.601070    0.950296   -0.311203    0.075283
股票_9   -0.192693   -1.024737    0.557583    0.225073    0.222499

In [28]:
# 设置索引
df = pd.DataFrame({ 
                'year': [2012, 2012, 2014, 2014],
                'month': [1, 4, 7, 10],
                'sale':[55, 40, 84, 31]})

df

   year  month  sale
0  2012      1    55
1  2012      4    40
2  2014      7    84
3  2014     10    31

In [31]:
df.set_index(['year'])

      month  sale
year
2012      1    55
2012      4    40
2014      7    84
2014     10    31

In [33]:
new_df = df.set_index(['year', 'month'])

# MultiIndex

In [34]:
new_df.index

MultiIndex(levels=[[2012, 2014], [1, 4, 7, 10]],
           labels=[[0, 0, 1, 1], [0, 1, 2, 3]],
           names=['year', 'month'])

In [35]:
new_df.index.levels

FrozenList([[2012, 2014], [1, 4, 7, 10]])

In [36]:
new_df.index.labels

FrozenList([[0, 0, 1, 1], [0, 1, 2, 3]])

In [37]:
new_df.index.names

FrozenList(['year', 'month'])

In [38]:
new_df

            sale
year month
2012 1        55
     4        40
2014 7        84
     10       31

In [39]:
# 注意; 带有MultiIndex的DataFrame可以描述多维数据结构

# 4. Panel

In [41]:
# Panel用于描述三维数据结构的
panel = pd.Panel(np.arange(24).reshape((2, 3, 4)), 
                 items= list('AB'),
                 major_axis=[1,2,3],
                 minor_axis=['first', 'second', 'third', 'forth'] )

panel

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 4 (minor_axis)
Items axis: A to B
Major_axis axis: 1 to 3
Minor_axis axis: first to forth

In [42]:
panel['A']

   first  second  third  forth
1      0       1      2      3
2      4       5      6      7
3      8       9     10     11

In [43]:
panel['B']

   first  second  third  forth
1     12      13     14     15
2     16      17     18     19
3     20      21     22     23

In [48]:
panel['A', :2, 'first':'third']

   first  second  third
1      0       1      2
2      4       5      6

In [49]:
panel['A', 2, 'first']

4

In [50]:
panel[:,2,:]

        A   B
first   4  16
second  5  17
third   6  18
forth   7  19

# Series

In [51]:
# 用于描述一维数组

# 1. 生成10只股票5天的涨跌幅(符合标准正态分布的)
stock_change = np.random.normal(0, 1, (10, 5))
# stock_change
# 生成行索引
index = ['股票{}'.format(i) for i in range(stock_change.shape[0])]
# 生成列索引
date = pd.date_range(start='2019-08-01', periods=stock_change.shape[1], freq='B')
# date
# index
# 2. 使用数据创键DataFrame
df = pd.DataFrame(stock_change, index=index, columns=date)

     2019-08-01  2019-08-02  2019-08-05  2019-08-06  2019-08-07
股票0   -0.867897    1.292169   -0.889283    0.669345   -1.339422
股票1    0.277851   -0.264793   -0.969378   -0.170424    0.131967
股票2    0.590742    0.720153    0.020364    0.161341    0.951437
股票3   -0.080046   -0.116504   -1.494137    0.553527   -0.634447
股票4   -0.029273    0.683145    1.173230    0.607815    0.813288
股票5    0.349081    0.737517   -0.714160   -0.036718   -0.185544
股票6    1.567618    0.087050    1.409470    0.016135    0.819063
股票7    1.245469   -0.154423    0.365476   -0.770609    1.445264
股票8    0.113426   -0.294219   -1.119309   -0.183951   -0.725423
股票9   -0.501630   -1.899308   -0.287099    1.694745   -2.251650

In [52]:
df['2019-08-01']

股票0   -0.867897
股票1    0.277851
股票2    0.590742
股票3   -0.080046
股票4   -0.029273
股票5    0.349081
股票6    1.567618
股票7    1.245469
股票8    0.113426
股票9   -0.501630
Name: 2019-08-01 00:00:00, dtype: float64

In [53]:
type(df['2019-08-01'])

pandas.core.series.Series

In [55]:
# 创建Series
# 使用默认索引, 创建一个Series
pd.Series(np.arange(10, 18, 2))

0    10
1    12
2    14
3    16
dtype: int64

In [56]:
# 创建Series指定索引
pd.Series([1,2,3], index=['a', 'b', 'c'])

a    1
b    2
c    3
dtype: int64

In [59]:
# 使用字典创建Series
s = pd.Series({'a':10, 'b':20, 'c':30})
# 字典的键为索引 值就是Series的值

In [60]:
s.index

Index(['a', 'b', 'c'], dtype='object')

In [61]:
s.values

array([10, 20, 30])

NameError: name 'data' is not defined