In [1]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold
import numpy as np

In [2]:
data = pd.read_csv("train_V2.csv")

In [3]:
data.shape

(4446966, 29)

## 去掉空白值

In [4]:
data = data.dropna()
data.shape

(4446965, 29)

In [5]:
data.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.00,0,0,0,60,...,0,0.0000,0,0.00,0,0,244.80,1,1466,0.4444
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.47,0,0,0,57,...,0,0.0045,0,11.04,0,0,1434.00,5,0,0.6400
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.00,0,0,0,47,...,0,0.0000,0,0.00,0,0,161.80,2,0,0.7755
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.90,0,0,0,75,...,0,0.0000,0,0.00,0,0,202.70,3,0,0.1667
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100.00,0,0,0,45,...,0,0.0000,0,0.00,0,0,49.75,2,0,0.1875

## 去掉id，groupid，matchId列

In [6]:
data = data.iloc[:, 2:]
pd.set_option('display.max_columns', None)
data.shape

(4446965, 27)

##  去掉人数少于80的场次

In [7]:
data_group = data.groupby(data.matchId).count()
data_group.shape

(47964, 26)

In [8]:
data_group = data_group[data_group.assists > 80]

In [9]:
data_group.shape

(46135, 26)

In [10]:
data_group.index

Index(['0000a43bce5eec', '0000eb01ea6cdd', '0002912fe5ed71', '0003b92987589e',
       '0006eb8c17708d', '00077604e50a63', '00086c74bb4efc', '00086e740a5804',
       '001125344b660c', '001360264d4b5f',
       ...
       'fff497dff0186d', 'fff4d3cbb6c317', 'fffa170cf8ed83', 'fffa3a29e38094',
       'fffb576fad6509', 'fffd74b5150cb4', 'fffe53015be300', 'fffe562611d981',
       'fffe721f841f85', 'fffe92232706aa'],
      dtype='object', name='matchId', length=46135)

In [11]:
data = data[data.matchId.isin(data_group.index)]

In [12]:
data.shape

(4371048, 27)

## 对matchtype列进行编码

In [13]:
data_matchType = pd.get_dummies(data["matchType"], prefix="match_type")

In [14]:
data_matchType.head()

,match_type_crashfpp,match_type_crashtpp,match_type_duo,match_type_duo-fpp,match_type_flarefpp,match_type_flaretpp,match_type_normal-duo-fpp,match_type_normal-squad,match_type_normal-squad-fpp,match_type_solo,match_type_solo-fpp,match_type_squad,match_type_squad-fpp
0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,1,0,0

In [15]:
data = data.drop("matchType", axis=1)

## 提取x，y值

In [16]:
x =data.iloc[:, 1:-1]

In [17]:
x.head()

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,maxPlace,numGroups,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
0,0,0,0.00,0,0,0,60,1241,0,0,0.00,1306,28,26,-1,0,0.0000,0,0.00,0,0,244.80,1,1466
1,0,0,91.47,0,0,0,57,0,0,0,0.00,1777,26,25,1484,0,0.0045,0,11.04,0,0,1434.00,5,0
2,1,0,68.00,0,0,0,47,0,0,0,0.00,1318,50,47,1491,0,0.0000,0,0.00,0,0,161.80,2,0
3,0,0,32.90,0,0,0,75,0,0,0,0.00,1436,31,30,1408,0,0.0000,0,0.00,0,0,202.70,3,0
4,0,0,100.00,0,0,0,45,0,1,1,58.53,1424,97,95,1560,0,0.0000,0,0.00,0,0,49.75,2,0

In [18]:
y =data.iloc[:, -1:]

In [19]:
y.head()

   winPlacePerc
0        0.4444
1        0.6400
2        0.7755
3        0.1667
4        0.1875

In [20]:
pd.set_option('display.max_columns', None)
x.head()

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,maxPlace,numGroups,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
0,0,0,0.00,0,0,0,60,1241,0,0,0.00,1306,28,26,-1,0,0.0000,0,0.00,0,0,244.80,1,1466
1,0,0,91.47,0,0,0,57,0,0,0,0.00,1777,26,25,1484,0,0.0045,0,11.04,0,0,1434.00,5,0
2,1,0,68.00,0,0,0,47,0,0,0,0.00,1318,50,47,1491,0,0.0000,0,0.00,0,0,161.80,2,0
3,0,0,32.90,0,0,0,75,0,0,0,0.00,1436,31,30,1408,0,0.0000,0,0.00,0,0,202.70,3,0
4,0,0,100.00,0,0,0,45,0,1,1,58.53,1424,97,95,1560,0,0.0000,0,0.00,0,0,49.75,2,0

## 删除异常值

In [21]:
# x = x[x["headshotKills"]<10]

In [22]:
x.head()

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,killPoints,kills,killStreaks,longestKill,matchDuration,maxPlace,numGroups,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
0,0,0,0.00,0,0,0,60,1241,0,0,0.00,1306,28,26,-1,0,0.0000,0,0.00,0,0,244.80,1,1466
1,0,0,91.47,0,0,0,57,0,0,0,0.00,1777,26,25,1484,0,0.0045,0,11.04,0,0,1434.00,5,0
2,1,0,68.00,0,0,0,47,0,0,0,0.00,1318,50,47,1491,0,0.0000,0,0.00,0,0,161.80,2,0
3,0,0,32.90,0,0,0,75,0,0,0,0.00,1436,31,30,1408,0,0.0000,0,0.00,0,0,202.70,3,0
4,0,0,100.00,0,0,0,45,0,1,1,58.53,1424,97,95,1560,0,0.0000,0,0.00,0,0,49.75,2,0

In [23]:
x.shape

(4371048, 24)

In [24]:
x = pd.concat([x, data_matchType], axis=1)

## 机器学习

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.externals import joblib
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=2)

In [27]:
x_test.shape

(1311315, 37)

In [28]:
transformer = StandardScaler()
x_train = transformer.fit_transform(x_train)
x_test = transformer.transform(x_test)

In [29]:
estimator = DecisionTreeRegressor()
param_dict = dict()
estimator =GridSearchCV(estimator, param_grid=param_dict, cv=5)
estimator.fit(x_train, y_train)
joblib.dump(estimator, "model.pkl")

['model.pkl']

In [30]:
estimator.best_score_

0.863561646225966

In [31]:
y_hat = estimator.predict(x_test)

In [32]:
from sklearn.metrics import mean_absolute_error

In [33]:
error = mean_absolute_error(y_test, y_hat)

In [34]:
error

0.07997658655249577